@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Proza+Libre&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  display: flex;
  padding: 40px 0 30px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #186f65;
  color: #fff;
  font-family: "Proza Libre", sans-serif;
  line-height: 1.5cm;
}

.head1 {
  font-size: 80px;
}

.head2 {
  font-size: 30px;
  font-weight: 100;
}

.container {
  background-color: #b5cb99;
  height: 70vh;
}

.gender {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: rgb(63, 63, 63);
  font-weight: bold;
}

label {
  font-family: "Proza Libre", sans-serif;
  font-size: 20px;
}

#male {
  height: 20px;
  width: 20px;
  margin: 20px;
  padding: 0;
}

#female {
  height: 20px;
  width: 20px;
  margin: 20px;
  padding: 0;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

input {
  margin: 0 40px 0 40px;
  height: 50px;
  width: 70px;
  border: none;
  background-color: #b5cb99;
  color: #186f65;
  border-bottom: 2px solid rgb(63, 63, 63);
  outline: none;
  font-size: 30px;
  font-family: "Proza Libre", sans-serif;
  padding: 10px 0 25px 0;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Proza Libre", sans-serif;
  font-weight: 100;
  color: rgb(63, 63, 63);
}

.name h2 {
  margin: 0 20px 0 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px;
}

#calc-btn {
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 50px;
  font-family: "Proza Libre", sans-serif;
  font-size: 25px;
  background-color: #186f65;
  color: #fff;
  cursor: pointer;
}

div p {
  margin: 38px;
  font-size: 20px;
  font-family: "Proza Libre", sans-serif;
}
